$color-main-dark: #4d4d4d;
$color-main-white: #ffffff;
$color-second-white: #f9fafa;
$color-main-blue: #e1f2f9;
$color-second-blue: #b5e5f9;
$color-main-yellow: #fefde1;
$color-main-green: #e2f6da;
$color-second-green: #d8f6ec;
$color-main-brown: #f6e0d3;
$color-main-maroon: #ffeded;