@import 'color';
@import 'fonts';

.header {
    padding-top: 28px;

    &[data-tab="cat"] {
        background-color: $color-main-blue;
    }

    &[data-tab="dog"] {
        background-color: $color-main-maroon;
    }

    &[data-tab="rodent"] {
        background-color: $color-main-yellow;
    }

    &[data-tab="reptile"] {
        background-color: $color-second-green;
    }

    &__burger {
        display: none;
    }

    &__cross {
        display: none;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__link {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__text {
        font-size: $font-small;
    }

    &__contacts {
        padding: 0;
    }

    &__phone {
        color: $color-main-dark;
        font-size: $font-h3;
        text-decoration: none;

        &:hover {
            opacity: 0.8;
            color: $color-main-dark;
        }
    }

    &__checklist {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__title {
        color: $color-main-dark;
        font-size: $font-big;
        text-decoration: none;

        &:hover {
            color: $color-main-dark;
            opacity: 0.8;
        }
    }
}

@media(max-width: 991px) {
    .header {
        &__menu {
            display: none;

            &_active {
                display: flex;
            }
        }

        &__list {
            display: none;
        }

        &__checklist {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-size: $font-large;
        }

        &__burger {
            &_active {
                display: flex;
            }
        }

        &__cross {
            &_active {
                display: flex;
            }
        }
    }
}

@media(max-width: 767px) {
    .header {
        padding: 28px 20px 0 20px;

        &__contacts {
            padding: 20px 0 0 0; 
        }
    }
}

@media(max-width: 420px) {
    .header {
        &__phone {
            font-size: $font-main;
        }
    }
}
