@import url('../fonts/fonts.css');
@import url('blocks/button.css');
@import url('blocks/input.css');
@import url('blocks/body.css');
@import url('blocks/header.css');
@import url('blocks/slider.css');
@import url('blocks/format.css');
@import url('blocks/guarantee.css');
@import url('blocks/advantages.css');
@import url('blocks/services.css');
@import url('blocks/questions.css');
@import url('blocks/reviews.css');
@import url('blocks/call.css');
@import url('blocks/footer.css');
@import url('blocks/popup.css');